@import "custom";
// @import "~bootstrap/scss/bootstrap";

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }


//EXAMPLE
.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}


// HOME PAGE STYLING
.teaser-block {
    position: relative;
}

.teaser-block-image {
    // background-image: url('https://picsum.photos/1320/600');
    // height: 570px;
    // width: 1440px;
    // object-fit: cover;
    // order:1;
}
@include media-breakpoint-down(md){
  .teaser-block-image {
    // object-fit:cover;
    height: auto;
    width: auto;
  }
}

.teaser {
  position: relative;
}

.teaser-block {
  position: absolute;
  top: 0;
}
@include media-breakpoint-down(md) {
  .teaser-block {
    position: relative;
  }
}

.teaser-block-content {
    position: absolute;
    top:40%;
    left: 0;
    right: 0;
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: auto;
}
@include media-breakpoint-down(md) {
  .teaser-block-content {
    position: relative;
    background-color:beige;
    width: auto;
    top:0;
  }
}

.samples-sub-title {
    letter-spacing: 4px;
}


//SINGLE POST PAGE STYLING



//CONTACT PAGE STYLING
// .card {
//   width: 400px;
// }



